/* Le code qui va suivre jusqu'au double séparateur servira à coder les balises hors MenuBurger */
.NavMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: inherit;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
}

.ContainerLogoNavMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0rem;
    border: 0rem;
    padding: 0rem;
}

.ContainerLogoNavMobile > a {
    font-size: var(--h1);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: var(--ColorTextBlack);
    margin: 2rem 0rem; /* 32px 0px 32px 0px */
    width: 100%;
}


.PowerSpan {
    color: var(--ColorTextBlack);
}

.WattSpan {
    color: var(--ColorTextRed);
}

.NumberSpan {
    color: var(--ColorTextRed);
}