/* home.module.css */

.ContainerSubAccueil {
    /* --- 1. Flexbox & Contenu --- */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    /* --- 3. Le "Full Bleed" (La méthode sans left/position) --- */
    /* On positionne par rapport au flux normal via les marges */
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    
    /* --- 4. Correction hauteur (ton padding top du main) --- */
    margin: -1.25rem 0rem 0rem 0rem; /* -20px 0px 00px 0px */

    /* --- 5. Background --- */
    position: relative; /* On garde relative JUSTE pour le z-index */
    z-index: 1;
    background-size: cover;
    background-position: center;
}

.BackgroundHome {
    /* --- 2. Dimensions Plein Écran --- */
    width: 100vw; 
    height: calc(100vh - 6.5rem); /* 104px */
    background-image: url("../../../../public/page/home/homeMobilePowerWatt34.jpg");
}
@media (min-width: 50rem) { /* 800px */
    .BackgroundHome {
        /* --- 2. Dimensions Plein Écran --- */
        width: 100vw; 
        height: calc(100vh - 4.125rem); /* 66px */
        background-image: url("../../../../public/page/home/homePCPowerWatt34.jpg");
    }
}

.ContainerTitle {
    /* ... ton code titre reste inchangé ... */
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    z-index: 2;
}

.TitleH1 {
    color: var(--ColorTextWhite);
    text-align: center;
}
