.ContainerSubAccueil {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("../../../../public/page/home/homePowerWatt34.jpg");
    background-size: cover;
    background-position: top center;
    margin: 0rem;
    border: 0rem;
    padding: 0rem;
}