.Page,
.Header, 
.Main, 
.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0rem;
    border: 0rem;
    margin: 0rem;
}

/* Il faudra faire 100vh - la taille du Header */
.Main {
    min-height: calc(100vh - 23.15625rem);
}

/*--------------------------------------------------*/
/* Style des Title dans un parent Column */
.TitleH1, 
.TitleH2,
.TitleH3,
.TitleH4, 
.TitleH5,
.TitleH6 {
    color : var(--ColorTextBlack);
    font-weight: var(--font-weight-title);
    font-style: var(--font-style-title);
    font-display: swap;
    text-align: start;
    width: 100%;
    margin: 1.25rem; /* 20px 20px 20px 20px */
    padding: 0rem;
    border: 0rem;
}


.TitleH1 {
    font-size: var(--h1); /* 32px */
    text-align: center;
    min-height: var(--h1); /* 32px */
}
.TitleH2 {
    font-size: var(--h2); /* 24px */
    text-align: start;
}
.TitleH3 {
    font-size: var(--h3); /* 20px */
    text-align: start;
}
.TitleH4 {
    font-size: var(--h4); /* 18px */
    text-align: start;
}
.TitleH5 {
    font-size: var(--h5); /* 14px */
    text-align: start;
}
.TitleH6 {
    font-size: var(--h6); /* 11px */
    text-align: start;
}

/*--------------------------------------------------*/

/* Style des Textes généraux */
.TextP1,
.TextP2,
.TextP3,
.TextP4,
.TextP5,
.TextP6,
.TextLiP4 {
    width: 100%;
    margin: 0rem 1.25rem; /* 0px 24px 0px 24px */
    border: 0rem;
    padding-bottom: 1.25rem; /* 0px 0px 20px 0px */
    line-height: 1.6; /* Hauteur des lignes de texte */
}
.TextP1 {
    font-size: var(--h1); /* 32px */
}
.TextP2 {
    font-size: var(--h2); /* 24px */
}
.TextP3 {
    font-size: var(--h3); /* 20px */
}
.TextP4 {
    font-size: var(--h4); /* 18px */
}
.TextP5 {
    font-size: var(--h5); /* 14px */
}
.TextP6 {
    font-size: var(--h6); /* 11px */
}
.TextLiP4 {
    font-size: var(--h4); /* 18px */
    padding-bottom: 0; /* 0px 0px 0px 0px */
}

/*--------------------------------------------------*/