/* Container Principale */
.NavPC {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ColorBackgroundWhite);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
}

/* Container Logo */
.ContainerLogoNavPC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.375rem; /* 310px */
}
@media (min-width: 52.8125rem) { /* 845px */
    .ContainerLogoNavPC {
        font-size: calc(var(--h1) + 0.3125rem); /* 5px */
        width: 20.625rem; /* 330px */
    }
}
@media (min-width: 62.5rem) { /* 1000px */
    .ContainerLogoNavPC {
        font-size: calc(var(--h1) + 0.3125rem); /* 5px */
        width: 23.4375rem; /* 375px */
    }
}

.TitleNavPC {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem 0.625rem 2rem; /* 16px 0px 10px 32px */
    width: 100%;
}
@media (min-width: 62.5rem) { /* 1000px */
    .TitleNavPC {
        margin: 1rem 0rem 0.625rem 3rem; /* 16px 0px 10px 48px */
    }
}

.TitleNavPC > a {
    font-size: var(--h1);
    color: var(--ColorTextBlack);
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    text-decoration: none;
    width: 100%;
}

.PowerSpan {
    color: var(--ColorTextBlack);
}

.WattSpan {
    color: var(--ColorTextRed);
}

.NumberSpan {
    color: var(--ColorTextRed);
}