.Contact_Root {
    margin: 4rem 0rem; /* 64px 0px 64px 0px */
}

.Subtitle {
    color: var(--ColorTextGreyBlack);
    margin-bottom: 1rem; /* 0px 0px 32px 0px */
}

.ContactContainer {
    gap: 1.5rem; /* 24px */
}
  
.ContactItem {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.75rem; /* 12px */
    font-size: var(--h3); /* 18px */
    text-decoration: none;
    color: var(--ColorTextPink);
    margin: 0rem;
    border: 0rem;
    padding: 0rem 0rem 1.25rem 0rem; /* 0px 0px 20px 0px */
    transition: transform 0.2s ease, color 0.2s ease;
}
  
.ContactItem:hover {
    transform: scale(1.05);
    color: var(--ColorTextPink);
}
