.TitleH1 {
    color : var(--ColorTextBlack);
    font-size: var(--h3); /* 32px */
    font-weight: var(--font-weight-title);
    font-style: var(--font-style-title);
    font-display: swap;
    text-align: center;
    width: 100%;
    margin: 0rem;
    padding: 0rem 0rem 1.25rem 0rem; /* 0px 0px 20px 0px */
    border: 0rem;
}
@media (min-width: 500px) {
    .TitleH1 {
        font-size: var(--h1); /* 32px */
    }
}

.Subtitle {
    color: var(--ColorTextGreyBlack);
    margin-bottom: 1rem; /* 0px 0px 32px 0px */
}

.ContactContainer {
    gap: 1.5rem; /* 24px */
}
  
.ContactItem {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.75rem; /* 12px */
    font-size: var(--h3); /* 18px */
    text-decoration: none;
    color: var(--ColorTextPink);
    margin: 0rem;
    border: 0rem;
    padding: 0rem 0rem 1.25rem 0rem; /* 0px 0px 20px 0px */
    transition: transform 0.2s ease, color 0.2s ease;
}
  
.ContactItem:hover {
    transform: scale(1.05);
    color: var(--ColorTextPink);
}
