/* Carousel.module.css */
.ContainerCarrousel {
  position: relative;
  width: 100%;
  /* max-width: 700px; */
  margin: 0 auto;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.slidesContainer {
  display: flex;
  width: 100%;
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1); /* Animation fluide */
}

.slide {
  min-width: 100%;
  height: 400px;
  object-fit: contain;
  display: block;
}

/* Styles des boutons */
.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.navButton:hover {
  background: rgba(0, 0, 0, 0.8);
}

.prev { left: 15px; }
.next { right: 15px; }
