.container {
    padding: 2rem; /* 32px */
    width: calc(100% - 4rem); /* 100% - 64px */
    margin: 0 auto;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; /* 16px */
}
@media (min-width: 36.25rem) { /* 580px */
    .cardsContainer {
        gap: 1.5rem; /* 24px */
    }
}
